* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 20px 100px 0 100px;
}

.logo {
    width: 80px;
}

.starbucks {
    width: 500px;
}

h2 {
    color: #333;
    font-size: 60px;
    font-weight: 500;
}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p {
    font-size: 16px;
}

button {
    background: #017143;
    color: #ffff;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.button-menu {
    width: 60px;
    transition: 1s; /*Para suavizar o efeito de subir do copo, adcionamos um tempo na transição */
}

.button-menu:hover {
    transform: translateY(-25px); /* Para criar o efeito do copo subir quando passar o curso sobre ele. Usa o transforme com o translate no eixo Y.*/
}